*,
*::after,
*::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --size: 1;
    --r: 255;
    --g: 255;
    --b: 255;
}

.main-container {
    display: flex;
    justify-content: space-evenly;
    background-color: rosybrown;
}

.control {
    height: 100vh;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    /* border: 3px solid pink; */
}

.header {
    text-align: center;
    font-weight: 900;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 30px;
    color: rgb(var(--r), var(--g), var(--b));
    font-size: 50px;
    width: 100%;
    /* border: 3px solid black; */
}

.terminal {
    height: 30%;
    width: 60%;
    background-color: azure;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border: 3px solid salmon;
}

.input-size {
    margin: 10px;
    padding: 10px;
    font-size: 30px;
    font-weight: 900;
}

.input-size > input {
    width: 150px;
    height: 50px;
    margin-left: 30px;
    font-size: 18px;
    font-weight: 900;
    padding: 5px;
}

.btn {
    font-size: 20px;
    padding: 10px;
    border-radius: 25px;
    margin-left: 20px;
}

.btn-reset {
    background-color: rgb(198, 147, 70);
    font-size: 30px;
    margin-bottom: 50px;
}

.container {
    align-self: center;
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    align-items: center;
    height: 90vh;
    width: 90vh;
    border: 3px solid black;
}

.row-container {
    align-self: center;
    display: flex;
    width: 100%;
    height: auto;
    /* height: calc((90vh - (var(--size) * px)) / var(--size));  */
}

.box {
    background-color: grey;
    border: 1px solid gold;
    margin: 0px;
    flex-grow: 1;
    height: 100%;
    aspect-ratio: 1;
    flex-shrink: 1;
    /* --gap-count: calc(var(--size) - 1);
    --total-gap-width: calc(var(--gap-count) * 2px);
    width: calc((100% - var(--total-gap-width)) / var(--size));
    max-height: calc((100vh - var(--gap-total) - 20px) / var(--size)); */
}

.box:hover {
    transform: scale(3);
    transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
    box-shadow: -20px -10px black ;
}